.titulo-hotel {
    color: #df6800;
    font-size: 2em;
    text-align: center;
}

.precio-hotel {
    font-weight: bold;
}

.nombre-hotel {
    color: #157ab1;
    font-weight: bold;
    font-size: 1.3em;
}

.desc-precio {
    text-align: center;
}