<div class="card">
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <img class="img-thumbnail" [src]="getImagenHotel(hotel.imagenPath)" alt="">
                </div>
                <div class="col-sm-5">
                    <div class="row nombre-hotel">
                        <p>
                            {{hotel.nombre}}
                        </p>
                    </div>
                    <div class="row">
                        <img *ngFor="let estrella of estrellas" [src]="PATH_ESTRELLA" width="7%" height="7%" alt="">
                    </div>
                    <br>
                    <div class="row">
                        <img *ngFor="let comodidad of hotel.comodidades" [src]="getImgComodidad(comodidad)" width="7%" height="7%" alt="">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row desc-precio">
                        <p>Precio por noche por habitación</p>
                    </div>
                    <div class="row titulo-hotel">
                        ARS
                        <div class="precio-hotel valor">
                            {{hotel.precio}}
                        </div>
                    </div>
                    <div class="row">
                        <button (click)="verHotel(idHotel)" class="btn btn-primary btn-block">Ver Hotel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>