<nav class="navbar navbar-light header-container">
    <a class="navbar-brand" [routerLink]="['home']">
        <img src="assets/img/logo-almundo.svg" width="100%" height="100%" alt="">
    </a>
</nav>