<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5>Filtros</h5>
            </div>
        </div>
        <app-filtro-nombre-hotel (nombreHotelBusqueda)="parametroNombreBusqueda($event)"></app-filtro-nombre-hotel>
        <app-filtro-estrella (numeroEstrellasFiltro)="parametroEstrellaBusqueda($event)"></app-filtro-estrella>
    </div>
</div>