<div class="card">
    <div class="card-header card-container" id="headingOne">
        <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">                    
                <h5 class="titulo"><span ><img [src]="PATH_BUSCAR_IMG" width="7%" height="7%" alt=""></span>Nombre Hotel</h5>
        </button>
        </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" id="nombreHotelInput" aria-describedby="nombre del hotel" placeholder="Ingrese el nombre del hotel" #buscarNombre>
                </div>
                <div class="col-md-4">
                    <button (click)="consultarHotelesPorNombre(buscarNombre.value)" class="btn btn-primary btn-block">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>