<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <app-filtro (nombreBusquedaParametro)="consultarHotelesPorNombre($event)" (estrellasFiltro)="consultarHotelesPorEstrella($event)"></app-filtro>
        </div>
        <div class="col-sm-8" *ngIf="mostrar && hoteles.length > 0">
            <div class="row">
                <app-resumen-hoteles *ngFor="let hotel of hoteles" [hotel]="hotel"></app-resumen-hoteles>
            </div>
            <div class="row">
                <app-paginacion [paginaActual]="paginaActual" [paginasTotales]="paginasTotales" (paginaSeleccionada)="consultarHotelesPorPagina($event)"></app-paginacion>
            </div>
        </div>
        <div class="col-sm-8" *ngIf="!hoteles || hoteles.length === 0">
            <div class="alert alert-danger" role="alert">
                {{getMensajeNoExiste()}}
            </div>
        </div>
    </div>
</div>