<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item {{mostrarPaginaAnterior()}}">
            <a class="page-link" (click)="seleccionarPaginaAnterior()" tabindex="-1">Anterior</a>
        </li>
        <li class="page-item {{paginaActiva(pagina)}} {{mostrarPaginaSiguienteNum(pagina)}}" *ngFor="let pagina of paginasMostradas; let i = index"><a class="page-link" (click)="seleccionarPagina(pagina, i)">{{pagina}}</a></li>
        <li class="page-item {{mostrarPaginaSiguiente()}}">
            <a class="page-link" (click)="seleccionarPaginaSiguiente()" tabindex="1">Siguiente</a>
        </li>
    </ul>
</nav>