<div class="card">
    <div class="card-header card-container" id="headEstrella">
        <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEstrella" aria-expanded="true" aria-controls="collapseEstrella">
                <h5 class="titulo"><span ><img [src]="PATH_ESTRELLA" width="7%" height="7%" alt=""></span>Estrellas</h5>
        </button>
        </h5>
    </div>

    <div id="collapseEstrella" class="collapse show" aria-labelledby="headEstrella" data-parent="#accordionExample">
        <div class="card-body">
            <div class="form-check">
                <div class="row">
                    <input class="form-check-input" type="checkbox" value="" id="estrellaChekTodas" (change)="checkEventoTodasLasEstrellas($event.target.checked)">
                    <label class="form-check-label" for="defaultCheck1">
                        Todas las estrellas
                    </label>
                </div>
                <div class="row" *ngFor="let estrellas of estrellasCheck; let i = index">
                    <input class="form-check-input" type="checkbox" [checked]="estrellas.checked" id="i" (change)="checkEvento(estrellas.numero, $event.target.checked)">
                    <img *ngFor="let numeroEstrellas of estrellas.numero" [src]="PATH_ESTRELLA" width="5%" height="5%" alt="">
                </div>
            </div>
        </div>
    </div>
</div>